/* FULL PAGE DARK BACKGROUND */
.experience-section {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1c1c1c, #0f0f0f);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  text-align: center;
}

/* Small top title */
.exp-top {
  color: #ff7a45;
  letter-spacing: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Big heading */
.exp-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 60px;
  line-height: 1.2;
}

.exp-title span {
  color: #ff7a45;
}

.experience-card {
  background: #141414;
  max-width: 900px;
  width: 100%;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  text-align: left;

  box-shadow: 0 0 30px rgba(255, 122, 69, 0.15);
  transition: all 0.4s ease;
}

/* Icon */
.icon-box {
  background: #2a1f1a;
  padding: 20px;
  border-radius: 15px;
  color: #ff7a45;
  height: fit-content;
}

/* Content */
.exp-content h2 {
  font-size: 26px;
  margin-bottom: 5px;
}

.exp-content h3 {
  color: #ff7a45;
  margin-bottom: 10px;
}

.exp-date {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #aaa;
  margin-bottom: 20px;
  font-size: 14px;
}

.exp-content ul {
  margin-left: 20px;
  margin-bottom: 25px;
  color: #ccc;
}

.exp-content ul li {
  margin-bottom: 10px;
}

/* Skill Tags */
.exp-skills {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.exp-skills span {
  background: #1f1f1f;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #333;
}
.experience-card:hover {
  box-shadow: 0 0 60px rgba(255, 122, 69, 0.35);
}