
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #0a0a0a;
  color: white;
   margin: 0;

}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 120px;
}

